.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #63b3ed;
    /* Tailwind's blue-300 */
}

.header-button {
    transition: all 0.3s ease, transform 0.2s ease;
}

.header-button:hover {
    background-color: #4299e1;
    /* Tailwind's blue-500 */
    transform: scale(1.05);
}